header
{
  height: 60px;
  background: darkcyan;
  width: 100%;
  display: flex;
  align-items: center;
}



body
{
  margin-left: 0px;
  
  height: 100%;
}


.appHeader
{
  color: white;
  margin-left: 6px;
}

.container
{
  display: flex;
  height: 100%;
}

.leftPane
{
  flex: 1;
  height: 100%;
  border-right: 1px grey solid;
  border-bottom: 1px grey solid;
  
}

.rightPane
{
  flex: 2;
  display: flex;
  justify-content: center;
}

.leftPaneHeader
{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 1px grey solid;
  height: 50px;
}

.button
{
  background: blue;
  border: none;
  padding: 10px;
  color: white;
}

.input
{
  border: 0.2px solid grey;
  padding: 5px;
  font-size: 16px;
}



.questionContainer
{
  background: lightgrey;
  height: calc(100% - 80px);
}

.createQuestionContainer
{
  width: 80%;
}

.createQuestionContainer > input
{
  margin-bottom: 10px;
}

.createQuestionContainer > textarea
{
  width: 100%;
}

.createQuestionContainer > button
{
  float: right;
  margin-top: 10px;
}

